<div class="min-h-screen bg-gray-100 flex flex-col">
  <header class="bg-blue-600 text-white p-4 shadow-md">
    <h1 class="text-3xl font-bold">{{ title }}</h1>
    <nav class="mt-2">
      <ul class="flex space-x-4">
        <li><a routerLink="/home" class="hover:underline">Home</a></li>
        <li><a routerLink="/table" class="hover:underline">Table</a></li>
        <li><a routerLink="/" class="hover:underline">Login</a></li>
        <li><a routerLink="/register" class="hover:underline">Register</a></li>
        <li><a routerLink="/protected" class="hover:underline">Protected</a></li>
      </ul>
    </nav>
  </header>

  <main class="flex-grow p-6">
    <router-outlet></router-outlet> <!-- Este es el lugar donde se cargan los componentes -->
  </main>

  <footer class="bg-gray-800 text-white text-center p-4">
    <p>&copy; 2024 My Angular App. All rights reserved.</p>
  </footer>
</div>
